$input-height: 30px;
$inner-spacing: .9em;
$heading_color: #252525;

.form {
  display:flex;
  flex-direction: column;
}

.form__part + .form__part {
  margin-top: calc(3 * #{$inner-spacing});
}

.form__heading {
  margin: 0, 0, 0, $inner-spacing;
  font-size: 1.4rem;
  color: $heading_color;
}

.form__part--flex {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__field-wrapper {
  display: flex;
  align-items: center;
  margin: $inner-spacing 0;
}

.form__icon {
  width: 30px;
  display: none;
  height: auto;
}

.form__label {
  padding: .9em;
  font-size: 13px;
  margin-bottom: $inner-spacing / 2;
}

.form__input {
  height: 30px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid var(--alto);
  outline: none;
  transition: border .3s ease-in-out;
}

.form__input::placeholder {
  //
}

.form__input:active,
.form__input:focus {
 border-bottom: 1px solid var(--border-color);
}

.form__field {
  display:flex;
  flex-direction:column;
  width: 100%;
}

.form__field + .form__field {
  //
}

.form__action {
  //
}

.form__actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(3 * #{$inner-spacing});
}

.form__image {
  margin-right: 20px;
}

@media (min-width: 600px) {
  .form__part--flex {
    flex-direction: row;
    align-items: center;
  }

  .form__part--flex + .form__part--flex {
   //
  }

  .form__field-wrapper {
    display: flex;
    margin-top: $inner-spacing;
    align-items: center;
  }

  .form__field-wrapper--spaced {
    width: 100%;
  }

  .form__field-wrapper--spaced + .form__field-wrapper--spaced {
    margin-left: 20px;
  }

  .form__field {

  }

  .form__field--spaced {
    //
  }

  .form__field--spaced + .form__field--spaced {
   margin-left: 20px;
  }

  .form__icon {
    display: block;
    margin-right: 20px;
  }

  .form__action {
    //
  }

  .form__actions {
    flex-direction: row;
    justify-content: space-between;
  }
}

.error {
  position: absolute;
  left: 0;
  bottom: -14px;
  font-size: .7em;
}